{{#each posts as |post|}}
<div class=" px-4 px-lg-5 ">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="container col-md-12 col-lg-12 col-xl-12">
      <h2 class="post-title">
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h2>

      <p class="post-meta">{{post.user.name}} on {{format_date post.date_created}}</p> 
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p>{{post.contents}}</p>
        </div>
    </div>

  </div>
    <hr class="my-4" />
</div>

{{/each}}