<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
{{!-- 
 <div class="col-sml-8">
    <button class="btn btn-sm btn-danger deleteBtn" data-id="{{post.id}}">Delete Post</button>
    </div> --}}


</div>

{{#if logged_in}}

<form id="comment-form">
        <div class="input-field">
            <label>Comment:</label>
            <textarea type="text" id="comment"></textarea>
        </div>
        <input type="hidden" name="post-id" value="{{post.id}}">
        <button type="submit" class="btn btn-primary create-btn">Post comment</button>
    </form>

{{/if}}


<div>


        {{!-- Displays each comment --}}
{{#each comment}}
        <section class="comment">
            <div class="text">
                {{!-- comment --}}
            {{comment_contents}}
            {{!-- Commenter information --}}
            <p class="commenter-info">{{user.name}} on {{format_date date_created}}</p>
            {{!-- TODO: add functionality to edit and delete comments --}}


              <div class="form-group">
        <a href="/comment/{{id}}/update"<button type="submit" class="btn btn-primary updateCommentBtn" data-id="{{id}}">Update Comment</button></a>
      </div>
            <hr>
            </div>
        </section>
    {{/each}}
</div>


<script src="/js/comment.js"></script>
<script src="/js/new_post.js"></script> 
