<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
   {{!-- <p>{{comment_contents}}</p>
   <p>{{post.comment_contents}}</p>
   <p>{{comments}}</p> --}}
   {{!-- <p>{{comments.comment_contents}}</p> --}}

{{!-- Displays each comment --}}
{{#each comments}}
        <section class="comment">
            <div class="text">
            {{comment_contents}}
            </div>
        </section>
    {{/each}}

 <div class="col-sml-8">
    <button class="btn btn-sm btn-danger current-post" data-id="{{post.id}}">DELETE</button>
    </div>
</div>

{{#if logged_in}}

<form id="comment-form">
        <div class="input-field">
            <label>Comment:</label>
            <textarea type="text" id="comment"></textarea>
        </div>
        <input type="hidden" name="post-id" value="{{post.id}}">
        <button type="submit">Post comment</button>
    </form>


{{/if}}

<script src="/js/comment.js"></script>
<script src="/js/new_post.js"></script> 
